.channel-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.single-video__img {
  width: 100%;
  margin-bottom: 30px;
}

.channel__heading-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.channel-info-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.channel-owner__img {
  margin-right: 12px;
}

.channel__heading {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}

.channel__paragraph {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

.subscribe-button__wrapper {
  display: flex;
  align-items: center;
}

.notif {
  background: none;
  border: none;
}

.subscribe {
  background: #ff0000;
  padding: 10px 20px;
  margin-left: 40px;
  border: none;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.channel__center-left {
  width: 80%;
}

.channel__center-right {
  width: 15%;
}

.channel__list {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.channel__item {
  margin-right: 68px;
}

.channel__link {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  transition: 0.5s;

  &:hover {
    font-weight: bold;
    color: #ff0000;
    text-decoration: underline;
  }

  &:active {
    font-weight: bold;
    color: #ff0000;
    text-decoration: underline;
  }
}

.channel-video-info__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.small-video__img {
  margin-right: 32px;
}

.video__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: #19202c;
}

.video__paragraph {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.video__date-info {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #c2c2c2;
}

.channel-owners__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #c2c2c2;
}

.channel-owners__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.channel-owners__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.channel-owners__img {
  margin-right: 12px;
}

.channel-owners__name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #19202c;
}

@media only screen and (max-width:1560px) {
  .channel-owners__name {
  font-size: 14px!important;  
  }
}

@media only screen and (max-width:1350px) {
  .channel-owners__img {
  margin-right: 6px !important;  
  }
}

@media only screen and (max-width:1290px) {
  .video__heading , .video__paragraph {
    margin-bottom: 5px !important
  }

  .video__paragraph {
    font-size: 14px;
  }

  .video__heading {
    font-size: 18px;
  }
}

@media only screen and (max-width:1210px) {
  .small-video__img {
    width: 500px;
    margin-right: 16px;
  }
}

@media only screen and (max-width:1150px) {
  .channel__center-right {
    display: none;
  }

  .channel__center-left {
    width: 100%;
  }
}

@media only screen and (max-width:1060px) {
 .single-video__img {
   width: 94%;
   margin: 0 auto;
   margin-bottom: 20px;
 }

 .channel__heading-wrapper {
   width: 94%;
   margin: 0 auto;
   margin-bottom: 20px;
 }

 .channel__center-left {
   width: 94%;
   margin: 0 auto;
 }
}

@media only screen and (max-width:950px) {
  .single-video__img {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
 
  .channel__heading-wrapper {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .channel__navbar {
    width: 80% !important;
  }

  .small-video__img {
    width: 320px !important;
    height: 200px;
  }
 
  .channel__center-left {
    width: 80% !important;
    margin: 0 auto;
  }
  .search {
    display: none;
  }
 }


 
@media only screen and (max-width:570px) {
  .single-video__img {
    width: 55%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
 
  .channel__heading-wrapper {
    width: 55%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .channel__navbar {
    width: 55% !important;
  }

  .channel-video-info__wrapper {
    flex-direction: column;
  }

  .dis {
    display: none;
  }

  .small-video__img {
    width: 420px !important;
    height: 200px;
    margin-bottom: 20px;
  }
 
  .channel__center-left {
    width: 55% !important;
    margin: 0 auto;
  }

  .video__heading, .video__paragraph, .video__date-info {
    text-align: center;
  }

  .subscribe-button__wrapper {
    display: none;
  }
 }

 
 @media only screen and (max-width:420px) {
  .single-video__img {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
 
  .channel__heading-wrapper {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .channel__navbar {
    width: 95% !important;
  }

  .channel__list {
    width: 95%;
  }


  .dis {
    display: none;
  }

  .small-video__img {
    width: 98% !important;
    height: 200px;
    margin-bottom: 20px;
  }
 
  .channel__center-left {
    width: 95% !important;
    margin: 0 auto;
  }

  .video__heading, .video__paragraph, .video__date-info {
    text-align: center;
  }

  .subscribe-button__wrapper {
    display: none;
  }
 }


 
 @media only screen and (max-width:420px) {
  .single-video__img {
    width: 95%;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .channel-owner__img {
    width: 60px;
    height: 60px;
  }

  .channel__heading {
    font-size: 18px;
  }
 
  .channel__heading-wrapper {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .channel__navbar {
    width: 95% !important;
  }

  .channel__list {
    width: 95%;
  }

  .channel__item {
    margin-right: 30px;
    margin-left: 10px;
  }

  .video__heading {
    font-size: 16px;
  }

  .video__paragraph {
    font-size: 12px;
  }

  .video__date-info {
    font-size: 14px;
  }

  .small-video__img {
    width: 98% !important;
    height: 180px;
    margin-right: 0;
    margin-bottom: 20px;
  }
 
  .channel__center-left {
    width: 95% !important;
    margin: 0 auto;
  }

  .video__heading, .video__paragraph, .video__date-info {
    text-align: center;
  }

  .subscribe-button__wrapper {
    display: none;
  }
 }
