.food-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-heading__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.food__image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.food__heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}

.food__paragraph {
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #c2c2c2;
}

.food-buttons-wrapper {
  margin-right: 150px;
  display: flex;
  align-items: center;
}

.food-button-subscribe {
  padding: 10px 20px;
  margin-right: 30px;
  background-color: #ff0000;
  border:none;
  border-radius: 20px;
  color: #fff;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.food-button-prev,
.food-button-next {
  width: 28px;
  height: 28px;
  background: none;
  border: none;
  margin-left: 10px;
}

.food__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.food__item {
  box-sizing: border-box;
  margin-right: 10px;
}

.food-item__image-wrapper {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0px;
}

.food-item__image-time-wrapper {
  position: absolute;
  bottom: 25px;
  right: 10px;
  margin: 0;
  padding: 0;
  padding: 3px 9px;
  border-radius: 12px;
  background-color: #000;
  opacity: 0.3;
}

.food-item__image-time {
  margin: 0;
  padding: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
}

.food-item__image {
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 14px;
}

.food-item__image-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
}

.food-item__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-item__info-span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}
