.channel__main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

@media only screen and (max-width:1560px) {
    .channel__center-wrapper {
      width: 100%;
    }
  }