.navbar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.navbar-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav__logo-wrapper {
  margin-right: 3.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu-button {
  width: 20px;
  height: 17px;
  margin-right: 28px;
  box-sizing: border-box;
  border: none;
  background: none;
}

.nav__logo-link {
  width: 116px;
  height: 25px;
}

.nav__search-form {
  position: relative;
  margin-left: 2%;
}

.nav__search-input {
  min-width: 782px;
  height: 20px;
  padding: 12px 24px;
  background: #ebebeb;
  mix-blend-mode: normal;
  outline: none;
  opacity: 0.3;
  border: none;
  border-radius: 22px;

  &::placeholder {
    font-family: "Mulish", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #30384c;
    mix-blend-mode: normal;
    opacity: 0.4;
  }
}

.search-icon {
  position: absolute;
  top: 7px;
  right: 5px;
  transform: translate(-100%, 20%);
}

.input-search-button {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.nav__item {
  margin-right: 35px;
}

.nav__icon-button {
  background: none;
  border: none;
}

@media only screen and (max-width: 1450px) {
  .nav__search-input {
    min-width: 752px;
  }
}

@media only screen and (max-width: 1400px) {
  .nav__search-input {
    min-width: 700px;
  }
}

@media only screen and (max-width: 1350px) {
  .nav__search-input {
    min-width: 650px;
  }
}

@media only screen and (max-width: 1290px) {
  .nav__search-input {
    min-width: 600px;
  }
}

@media only screen and (max-width: 1230px) {
  .nav__search-input {
    min-width: 550px;
  }
}

@media only screen and (max-width: 1170px) {
  .nav__search-input {
    min-width: 500px;
  }
}

@media only screen and (max-width: 1110px) {
  .nav__search-input {
    min-width: 450px;
  }
}

@media only screen and (max-width: 1060px) {
  .nav__search-input {
    min-width: 400px;
  }
}

@media only screen and (max-width: 950px) {
  .nav__search-input {
    min-width: 350px;
  }

  .nav__item {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 860px) {
  .nav__search-input {
    min-width: 300px;
  }

  .nav__item {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 780px) {
  .nav__search-input {
    min-width: 250px;
  }

  .nav__item {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 670px) {
  .nav__search-input {
    min-width: 200px;
  }

 
}

@media only screen and (max-width: 570px) {
  .nav__search-input,
  .search-icon {
    display: none;
  }

  .input-search-button {
    display: block;
  }

  .nav__item {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 490px) {
  .other {
    display: none;
  }

}

@media only screen and (max-width: 400px) {
  .nav__menu-button {
    display: none;
  }

}

@media only screen and (max-width: 340px) {
  .nav__menu-button {
    display: none;
  }

  .nav__item {
    margin-right: 0;
  }

}