.user-channel-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-channel-heading__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-channel__image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.user-channel__heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}

.buttons-wrapper {
  display: block;
  margin-right: 150px;
}

.button-prev,
.button-next {
  width: 28px;
  height: 28px;
  background: none;
  border: none;
  margin-left: 10px;
}

.user-channel__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user-channel__item {
  box-sizing: border-box;
  margin-right: 10px;
}

.item__image-wrapper {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 0px;
}

.item__image-time-wrapper {
  position: absolute;
  bottom: 25px;
  right: 10px;
  margin: 0;
  padding: 0;
  padding: 3px 9px;
  border-radius: 12px;
  background-color: #000;
  opacity: 0.3;
}

.item__image-time {
  margin: 0;
  padding: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
}

.item__image {
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 14px;
}

.item__image-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
}

.item__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__info-span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}


@media only screen and (max-width: 1660px) {
  .user-channel__item {
    margin-right: 5px;
  }

  .item__image {
    width: 230px;
  }
}

@media only screen and (max-width: 1480px) {
  .user-channel__list {
    justify-content: space-evenly;
  }

  .user-channel__item {
    margin-bottom: 20px;
  }

  .buttons-wrapper {
    margin-right: 80px !important;
  }  
}


@media only screen and (max-width: 720px) {
  .buttons-wrapper {
    display: none !important;
  }  

  .user-channel-heading__wrapper {
    margin-left: 40px;
    margin-bottom: -10px;
  }

  .item__image {
    width: 380px;
    height: 200px;
  }
  
  .item__image-heading {
    text-align: left;
    font-size: 20px;
  }

  .item__info-span {
    font-size: 15px;
  }
}


@media only screen and (max-width: 620px) {  

  .user-channel-heading__wrapper {
    margin-left: 30px;
    margin-bottom: -10px;
  }

}

@media only screen and (max-width: 530px) {
  .user-channel-wrapper {
    width: 100%;
}
}

@media only screen and (max-width: 480px) {  

  .user-channel-heading__wrapper {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 400px) {  

  .item__image {
    width: 300px !important;
    height: 180px;
  }

  .user-channel-heading__wrapper {
    margin-left: 10px;
  }

  .user-channel__list {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    width: 75%;
    justify-content: center;
  }
}

@media only screen and (max-width: 340px) {
  .user-channel__list {
    width: 35%;
    margin: 0 auto;
  }

}