.single-video__wrapper {
  width: 78%;
  margin-right: 50px;
}

.play-video__wrapper {
  box-sizing: border-box;
}

.play-video__iframe {
  width: 95%;
  height: 600px;
  display: block;
  margin-bottom: 80px;
  margin-right: auto;
  box-sizing: border-box;
  border-radius: 14px;
}

.play-video__info-wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 36px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba($color: #d8d8d8, $alpha: 0.5);
}

.play-video__heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #192646;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.play-video__paragraph {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #c2c2c2;
}

.play-video__list {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.play-video__item {
  margin-left: 20px;
  border-radius: 20px;
  background-color: rgba(235, 235, 235, 0.3);
  padding: 10px 20px;
}

.three-dots__item {
  background-color:white;
  opacity: 1;
}

.icon {
  margin-right: 10px;
}



.three-dots {
  background: none;
  opacity: 1;
}

.play-video-info__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.play-video-channel__img {
  margin-right: 12px;
}

.play-video-channel__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}

.play-video-channel-published-date {
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

.play-video__paragraph {
  width: 72%;
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.play-video__button {
  background: none;
  border: none;
  display: block;
  padding: 0;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #c2c2c2;
}

.play-video-channel__button {
   min-width: 156px;
    height: 40px;
    padding: 10px 20px;
  background-color: #ff0000;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
