.recommendations-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .recommendations-heading__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  
  .recommendations__heading {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #19202c;
  }
  
  .recommendations-buttons-wrapper {
    margin-right: 150px;
  }
  
  .recommendations-button-prev,
  .recommendations-button-next {
    width: 28px;
    height: 28px;
    background: none;
    border: none;
    margin-left: 10px;
  }
  
  .recommendations__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .recommendations__item {
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 12px;
  }
  
  .recommendations-item__image-wrapper {
    box-sizing: border-box;
    position: relative;
    margin-bottom: 0px;
  }
  
  .recommendations-item__image-time-wrapper {
    position: absolute;
    bottom: 25px;
    right: 10px;
    margin: 0;
    padding: 0;
    padding: 3px 9px;
    border-radius: 12px;
    background-color: #000;
    opacity: 0.3;
  }
  
  .recommendations-item__image-time {
    margin: 0;
    padding: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
  }
  
  .recommendations-item__image {
    width: 450px;
    height: 250px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 14px;
  }
  
  .recommendations-item__image-heading {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    text-align: left;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202c;
  }
  
  .recommendations-item__info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .recommendations-item__info-span {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #c2c2c2;
    margin-right: 10px;
  }

  @media only screen and (max-width: 1660px) {
    .recommendations__item {
      margin-right: 6px;
    }

    .recommendations-item__image {
      width: 400px;
      height: 200px;
    }
  }
  
  @media only screen and (max-width: 1480px) {
    .recommendations__list {
      justify-content: space-evenly;
    }

    .recommendations__item {
      margin-bottom: 20px;
    }

    .recommendations-buttons-wrapper {
      margin-right: 80px;
    }
  }

  @media only screen and (max-width: 1050px) {
    .recommendations-item__image {
      width: 320px;
    }

  }

  @media only screen and (max-width: 720px) {
    .recommendations-item__image {
      width: 400px;
      height: 200px;
    }

    .recommendations-item__image-heading {
      text-align: left;
      font-size: 18px;
    }

    .recommendations-buttons-wrapper {
      display: none;
    }

    .recommendations__heading {
      margin-left: 35px;
    }

  }

  @media only screen and (max-width:640px) {
    .recommendations__heading {
      margin-left: 55px;
    }

    .recommendations-item__image-wrapper{
      width: 90%;
    
    }
  }

  @media only screen and (max-width:580px) {
    .recommendations__heading {
      margin-left: 30px !important;
    }
  }

  @media only screen and (max-width:540px) {
    

    .recommendations-item__image {
      width: 380px !important;
      height: 180px !important;
    }

    .recommendations-heading__wrapper {
      margin-left: 15px !important;
    }
  }

  @media only screen and (max-width: 480px) {  

    .recommendations-heading__wrapper {
      margin-left: 5px !important;
    }

    .recommendations__heading {
      margin-left: 10px !important;
      text-align: left;
    }
  }

  @media only screen and (max-width: 400px) {  

    .recommendations-item__image {
      width: 300px !important;
      height: 180px;
    }

    .recommendations__heading {
      text-align: left;
    }

    .recommendations__list {
      width: 75%;
    }

    .recommendations-heading__wrapper {
      margin-left: -10px !important;
    }
  }

  @media only screen and (max-width: 340px) {
    .recommendations__list {
      width: 35% !important;
      margin: 0 auto !important;
    }
  
  }
